apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: provisioner-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kosa-infra/kosa-argocd.git
    targetRevision: HEAD
    path: provisioner/
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

